{% extends 'main/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        
        <label for="">User Name</label>
        <input type="text" name="username" class="">

        <label for="">Password</label>
        <input type="password" name="password" class="">

        <input style="margin-top:10px ;" class="button" type="submit" value="Login">

    </form>

    {% for message in messages %}
        <p id="messages" style="color: #cf4949;">{{message}}</p>
    {% endfor %}

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock content %}









